<any>
    <link rel="stylesheet" href="./App/Directives/viewArticle/viewArticle.css">
    <div class="card my-card article">
        <span class="badge badge-info label-category">{{article.category}}</span>
        <div class="operation" ng-class="getOperation(article.operation)">{{getOperation(article.operation)}}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 my-col-3">
                    <i class="fas fa-chevron-left arrow left-arrow" ng-show="article.photos.length > 1" ng-click="getBack(article)"></i>
                    <i class="fas fa-chevron-right arrow right-arrow" ng-show="article.photos.length > 1" ng-click="getNext(article)"></i>
                    <img ng-class="{'pointer':(article.photos[(article.indexPhoto) ? article.indexPhoto : 0].thumbnail !== './Content/images/default-image.png')}"
                        ng-click="openPhoto(article.photos, article.indexPhoto)" class="card-img-top" ng-src="{{(article.photos.length > 0)? article.photos[(article.indexPhoto) ? article.indexPhoto : 0].thumbnail: './Content/images/default-image.png'}}">
                    <div class="choose-photo" ng-show="article.photos.length > 1">
                        <i class="fa-circle" ng-class="{far: ($index !== article.indexPhoto), fas: (($index == article.indexPhoto) || ((article.indexPhoto == null)  && ($index == 0)))}"
                            ng-repeat="photo in article.photos" ng-click="article.indexPhoto = $index;"></i>
                    </div>
                </div>
                <div class="col-md-9 my-col-9">
                    <p class="card-text title-article {{getOperation(article.operation)}}-text" ng-class="getOperation(article.operation)">
                        {{article.title}}
                        <a class="link-favorites" style="padding-right: 5px;" ng-show="sessionExpired" href>
                            Es necesario iniciar sesión para agregar anuncios a favoritos.
                        </a>
                        <loading class="float-right" style="padding-right: 5px;" size="fa-1x" ng-show="article.loadingFavorite"></loading>
                        <a href class="link-favorites" ng-click="addRemoveFb(article, 'add')" ng-hide="article.loadingFavorite || article.isFb || sessionExpired">
                            <i class="far fa-star"></i>
                            <span> Agregar a favoritos</span>
                        </a>
                        <a href class="link-favorites" ng-click="addRemoveFb(article, 'remove')" ng-hide="article.loadingFavorite || !article.isFb || sessionExpired">
                            <i class="fas fa-star"></i>
                            <span> Eliminar de favoritos</span>
                        </a>
                    </p>
                    <div class="row">
                        <div class="col-md-9">
                            <p class="text-article">{{article.description.substr(0,180).trim()}}...</p>
                        </div>
                        <div class="col-md-3">
                            <div class="link-more">
                                <a href="#!/ver-anuncio/{{article.id}}" class="btn btn-info btn-sm">
                                    Ver más
                                </a>
                            </div>
                            <div class="price" ng-show="isValidPrice(article.price) && article.operation !== 4">
                                $ {{getFormatedPriceWhole(article.price)}}
                                <span class="cents">{{getFormatedPriceDecimal(article.price)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="date-publication">
            <span style="color:#999;">Visto {{article.viewed}} veces</span>
            &nbsp;&nbsp;
            {{(article.date_creation * 1000)| date : 'HH:mm | dd/MM/yyyy'}}
        </span>
    </div>
</any>