<div class="bg-light p-4 ">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1>¿Quienes Somos?</h1>
            <br>
            <style>
                p {
                    text-align: justify;
                }
            </style>
            <p>
                Somos un grupo de Licenciados en Sistemas de Información, en busca de mejoras para la sociedad, a los
                cuales nos apasiona emprender.
            </p>
            <p>
                En 2019 pusimos en marcha UnaLlama.com.ar, buscando innovar en el mundo del comercio electrónico de la
                provincia, orientado a satisfacer la necesidad de las personas, ofreciendo otra alternativa de mercado
                de una manera sencilla, rápida y al alcance de todos. También ofreciendo otra alternativa publicitaria
                low cost para todos los comercios y profesionales que se encuentran al servicio de la gente.

            </p>
            <p>
                Estamos abiertos a escuchar mejoras para la web e idea totalmente nuevas e innovadoras. Si te interesa
                podes contactarnos haciendo clic <a href="#!/contacto"> aquí!</a>
            </p>
        </div>
    </div>
</div>