<div class="bg-light p-4 ">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1>UnaLlama.com.ar</h1>
            <br>
            <style>
                p {
                    text-align: justify;
                }
            </style>
            <h5>Términos y condiciones generales.</h5>
            <p>
                El acceso a UnaLlama.com.ar y la utilización de sus servicios están sujetos a los términos y
                condiciones
                generales
                que se establecen a continuación. De continuar Usted (en adelante el Usuario) la visita de este sitio,
                se
                entenderá
                que presta su conformidad con los Términos y Condiciones.
            </p>
            <p>
                Si realiza actividades de comercio electrónico, se compromete a respetar los términos y condiciones
                estipulados
                por
                UnaLlama.com.ar. El contenido de este sitio, información, redacción, software, direcciones de correo
                electrónico,
                gráficos, estadísticas, es propiedad de UnaLlama.com.ar y se encuentra protegido por las leyes
                internacionales
                de
                propiedad intelectual y/o derechos de autor. El Usuario rescinde de toda propiedad intelectual y presta
                conformidad
                a UnaLlama.com.ar, libre de regalías, perpetua de uso, exhibición y reproducción de informes,
                información, o
                trabajos derivados de todo material que el Usuario haya enviado a nuestro sitio.
            </p>

            <p>
                Las infracciones a los Términos y Condiciones darán derecho a quitar la calidad de Usuario registrado a
                los
                infractores. Compromiso del Usuario: El Usuario se compromete a mantener incólume a UnaLlama.com.ar y
                no
                comprometerlo en acciones, reclamos, demandas o responsabilidades derivadas de la violación por su
                parte, de
                los
                presentes términos y condiciones. El Usuario se hace responsable de toda afirmación realizada o acto
                ocurrido
                mediante el uso de su nombre de Usuario y contraseña. No deberá enviar o divulgar contenido
                inapropiado,
                transgresor, obsceno, fraudulento, difamatorio, amenazador, o que divulgue intimidades y asuntos
                personales, o
                viole los derechos de cualquier ciudadano. No podrá tomar la identidad de otra persona o enviar y
                transmitir
                publicidad y materiales de promoción en el sitio.
            </p>
            <p>
                Nuestro sitio no se responsabiliza por los daños y perjuicios que pudiera ocasionar el uso de la
                información
                que
                proveemos. No garantizamos la veracidad o vigencia de esa información, ni que dicha información no haya
                sido
                alterada, luego de su inserción en el sitio. UnaLlama.com.ar se limita a proveer un medio donde
                publicar
                ofertas de
                bienes y/o servicios, y de comunicación entre los Usuarios y los proveedores de esos bienes y
                servicios. Por lo
                tanto UnaLlama.com.ar no asume responsabilidad por alguna de ellas, como calidad, cantidad, estado,
                origen,
                tampoco
                la capacidad para contratar y solvencia del comprador. Nuestro sitio tampoco se responsabiliza por la
                inviolabilidad de los datos cursados por las redes públicas de telecomunicaciones, o por cualquier otro
                medio
                de
                información telemático. Nuestro sitio no está obligado a proveer ningún equipo o programa de software
                para
                acceder
                al servicio.
            </p>

            <h5>Uso del Servicio</h5>

            <p>

                UnaLlama.com.ar se reserva el derecho de eliminar o modificar cualquier información que en su opinión
                viole
                políticas de uso. La publicación, transmisión de cualquier material se encuentra prohibida sin el
                previo
                consentimiento escrito de su autor. Si es autorizado, el usuario del material o la información deberá
                mencionar
                en
                todos los casos a su autor. Toda información y material enviado por el Usuario será otorgado sin
                beneficio
                económico alguno o sin ninguna retribución física, salvo acuerdo entre partes, UnaLlama.com.ar adquiere
                licencia
                perpetua, gratuita, no exclusiva, con derecho a publicar, transmitir, reproducir y exhibir
                públicamente.
                UnaLlama.com.ar es una marca registrada, y toda marca o logotipo que se publica en el sitio pertenece a
                UnaLlama.com.ar o a terceros y el Usuario no podrá utilizarlas sin previo aviso del Titular.
            </p>

            <h5>Costo del servicio</h5>

            <p>
                UnaLlama.com.ar es gratuito y sin comisiones para los usuarios que venden artículos particulares u
                ofrecen sus
                CV
                en busca de empleos.
            </p>

            <p>
                Tiene costo para los comercios, empresas o personas que lucran en forma directa o indirecta con la
                página.
            </p>
            <p>Las tarifas se encuentran disponibles y pueden ser solicitadas por mail a info@unallama.com.ar.</p>
            <p>
                Los administradores de UnaLlama.com.ar pueden dar de baja, sin derecho a reclamo alguno, los avisos que
                considere
                que violan cualquiera de las cláusulas de estos Términos y Condiciones.
            </p>

            <h5>Privacidad Online</h5>
            <p>
                UnaLLama.com.ar se hace responsable por la privacidad de la información veraz entregada por el Usuario,
                no
                revelará, ni compartirá esta información sin el consentimiento del usuario, excepto cuando lo requiera
                la ley o
                a
                solicitud del gobierno.
            </p>

            <p>
                UnaLlama.com.ar utilizará su información personal, nombre, dirección, correo electrónico, solo para
                fines de
                marketing, de Servicios, para determinar datos demográficos de sus usuarios, obtener información
                estadística y
                de
                mercado, pero sin revelar esta información, que UnaLlama.com.ar considera confidencial, a terceros.
                UnaLlama.com.ar
                podrá enviar correos electrónicos a los Usuarios destinados a confirmar su inscripción, informarle el
                estado de
                su
                cuenta, o informarle sobre las modificaciones o actualizaciones o promociones realizadas en el sitio.
                Si el
                Usuario
                deseara ser excluido de esta lista, deberá reenviar el mensaje con REMOVE en el asunto. Es un objetivo
                de
                UnaLlama.com.ar proteger la información que considera confidencial aportada por sus Usuarios.
            </p>

            <h5>
                Privacidad de menores
            </h5>

            <p>
                La seguridad de los datos aportados por los menores es muy importante, por ello UnaLlama.com.ar no
                comparte
                información personal de Usuarios menores de 13 años con ninguna otra empresa, ni vende o alquila
                información
                personal, y no se le solicita el consentimiento para hacerlo. UnaLlama.com.ar considera que los menores
                pueden
                no
                estar en condiciones para entender o comprender la política de privacidad, ni decidir sobre algunos
                datos
                relevantes, por ello se invita a sus padres, tutores o adultos a cargo de los menores que accedan a
                UnaLlama.com.ar
                y que participen de forma activa de la navegación del menor en Internet, y que lo eduquen para que el
                menor
                aprenda
                a manejar su privacidad.
            </p>

            <p>
                Importante:
            </p>

            <ul>
                <li>
                    Si un menor fuera beneficiado en un concurso organizado por UnaLlama.com.ar, la notificación y el
                    premio
                    respectivo serán enviados a los padres, tutores o personas a cargo.
                </li>
                <li>Éstos no deberán remitir ningún tipo de información personal sin el previo consentimiento de sus
                    padres,
                    tutores o personas a cargo.</li>
            </ul>
        </div>

    </div>

</div>