<loading ng-show="loadForm" margin="10" logo="1"></loading>
<div ng-show="successful" class="successful">La solicitud para restablecer la contraseña fue enviada con éxito, si ésta
    no es respondida caducara pasado los proximos 2 días.</div>
<div ng-hide="loadForm || successful" id="main-form">
    <div class="panel">
        <h2>Olvidé mi contraseña</h2>
        <p>Por favor, introduzca su correo electrónico.</p>
    </div>
    <form autocomplete="off">
        <div class="form-group">
            <label for="email">Correo electrónico<span class="mandatory">(*)</span></label>
            <input type="text" id="email" ng-model="form.email" class="form-control" placeholder="Correo electrónico">
        </div>
        <div ng-show="errors.length > 0" class="container_errors">
            <p ng-repeat="error in errors">{{error}}</p>
        </div>
        <button type="submit" class="btn btn-info btn-action" ng-click="forgotMyPassword()">Enviar</button>
    </form>
</div>