<div class="d-block mx-auto">
    <div class="btn-group" style="width: 100%; top: -10px;">
        <a class="btn btn-info" style="width: 33%;" href ng-click="backP()" ng-hide="photos.length == 1">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="btn btn-danger text-center" style="width: 33%;" href ng-click="$close()" ng-hide="photos.length == 1">
            <i class="fa fa-times"></i>
        </a>
        <a class="btn btn-info float-right" style="width: 33%;" href ng-click="nextP()" ng-hide="photos.length == 1">
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
    <img ng-repeat="photo in photos" class="img-fluid d-block mx-auto"
        ng-show="(indexPhoto == $index || (indexPhoto == null && $index == 0)) " ng-src="{{photo.original}}">
</div>