<loading ng-show="loadForm" margin="10" logo="1"></loading>
<div ng-hide="loadForm" class="text-center">
    <a class="btn btn-fb" href ng-click="loginFB();">Iniciar sesión con Facebook</a>
</div>
<div ng-hide="loadForm" id="main-form">
    <div class="panel">
        <h2>Iniciar sesión</h2>
        <p>Por favor, introduzca su usuario/correo electrónico y contraseña.</p>
    </div>
    <form autocomplete="off">
        <div class="form-group">
            <label for="username">Usuario/Email</label>
            <input type="text" id="username" ng-model="form.username" class="form-control" placeholder="Usuario/Email">
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" ng-model="form.password" class="form-control" placeholder="Contraseña">
        </div>
        <div ng-show="errors.length > 0" class="container_errors">
            <p ng-repeat="error in errors">{{error}}</p>
        </div>
        <button type="submit" class="btn btn-info btn-action" ng-click="login()">Iniciar sesión</button>
        <div class="row">
            <div class="col-sm text-center">
                <a href="#!/crear-cuenta">Crear cuenta</a>
            </div>
            <div class="col-sm text-center">
                <a href="#!/olvide-mi-contraseña">Olvidé mi contraseña</a>
            </div>
        </div>
    </form>
</div>