<loading ng-show="loading" margin="10"></loading>
<div ng-show="!loading">
    <style>
        .card-my-article {
            margin-top: 1rem;
        }
    </style>
    <div ng-show="myArticles.length == 0 && !loading" class="no-articles text-center">
        No tienes anuncios creados
    </div>
    <div class="bg-danger text-light">
        <p>ANUNCIO: Los avisos no caducan y podran ser republicados cada 7 dias</p>
    </div>
    <div class="card card-my-article" ng-repeat="article in myArticles">
        <div class="card-body">
            <div class="row">
                <div class="col-2" style="margin: auto; text-align: center;">
                    <img class="card-img-top" style="width:80px"
                        ng-src="{{(article.photos.length > 0)? article.photos[(article.indexPhoto) ? article.indexPhoto : 0].thumbnail: './Content/images/default-image.png'}}">
                </div>
                <div class="col-10">
                    <h5 class="card-title">{{article.title}}</h5>
                    <a href="#!/ver-anuncio/{{article.id}}" class="btn btn-info">Ver</a>
                    <a href ng-click="republish(article)" class="btn btn-success"
                        ng-show="(article.republish >= 7) && article.active">Republicar</a>
                    <a href="#!/editar-anuncio/{{article.id}}" class="btn btn-primary">Editar</a>
                    <a ng-if="article.active==1" href class="btn btn-danger" ng-click="inactive(article);">Dar de
                        baja</a>
                    <a ng-if="article.active==0" href class="btn btn-success" ng-click="active(article);">Dar de
                        alta</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-center" ng-class="{'alert-danger': article.active == 0}">
            <div ng-show="article.active == 0" class="text-danger">
                Articulo dado de baja
            </div>
            <div ng-show="article.active == 1 && (article.republish >= 7)">
                Si aun no vendiste el producto republicalo haciendo click en el boton verde y aparecera primero en
                nuestra web.
            </div>
            <div ng-show="article.active == 1 && (7 > article.republish)">
                Podras republicar este anuncio en {{7 - article.republish}} dias
            </div>

            <!-- <div ng-show="!article.show">
                {{getDays(article.date_publication)}} {{((getDays(article.date_publication) == 1) ? 'dia' : 'días')}}
                restantes para que el anuncio caduque.
            </div>
            </div> -->
        </div>
    </div>
</div>