<loading ng-show="loadForm" margin="10" logo="1"></loading>
<div class="expired" ng-show="expired">
    La solicitud a caducado. Para solicitar restablecer su contraseña nuevamente ingrese <a href="#!/olvide-mi-contraseña">aqui!</a>
</div>
<div ng-hide="expired">
    <div ng-show="successful" class="successful">La contraseña se actualizo con éxito. Para inicia sesión
        haga <a href="#!/login">Clic
            aqui!</a>
    </div>
    <div ng-hide="loadForm || successful" id="main-form">
        <div class="panel">
            <h2>Restablecer contraseña</h2>
            <p>Por favor, introduzca su nueva contraseña.</p>
        </div>
        <form autocomplete="off">
            <div class="form-group">
                <label for="password">Contraseña<span class="mandatory">(*)</span></label>
                <input type="password" id="password" ng-model="form.password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="form-group">
                <label for="repeatPassword">Repita la contraseña<span class="mandatory">(*)</span></label>
                <input type="password" id="repeatPassword" ng-model="form.repeatPassword" class="form-control"
                    placeholder="Repita la contraseña">
            </div>
            <div ng-show="errors.length > 0" class="container_errors">
                <p ng-repeat="error in errors">{{error}}</p>
            </div>
            <button type="submit" class="btn btn-info btn-action" ng-click="resetPassword()">Confirmar</button>
        </form>
    </div>
</div>