<any>
    <loading ng-show="load" margin="2"></loading>
    <div ng-hide="load" class="row">
        <div class="col-10 mx-auto">
            <a class="btn btn-primary btn-action" href ng-if="limitComments != 0" ng-click="loadMore();">Cargar más
                comentarios</a>
            <div class="card mt-2" ng-repeat="comment in comments" ng-if="$index >= limitComments ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <img style="max-height: 60px;" ng-src="{{ ((comment.user.photo.indexOf('/') != -1) ? comment.user.photo : ('../Server/assets/php/files/thumbnail/' + comment.user.photo))}}"
                                class="rounded-circle img-fluid" />
                            <p class="text-secondary text-center">
                                <p class="text-secondary text-center" am-time-ago="comment.date + '006'"></p>
                            </p>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <strong>{{comment.user.name}}</strong>
                            </p>
                            <div class="clearfix"></div>
                            <long-text data="comment.message"></long-text>
                        </div>
                        <div class="col-md-2">
                            <p>
                                <a ng-if="edit" class="float-right btn btn-outline-primary ml-2" href ng-click="setReplyComment(comment, null);">
                                    <i class="fa fa-reply"></i>
                                    Responder
                                </a>
                            </p>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-action" ng-if="comment.limitComments > 0" href ng-click="comment.limitComments = (comment.limitComments-1)">
                        Cargar más comentarios
                    </a>
                    <div class="card card-inner mt-2" ng-if="$index >= comment.limitComments" ng-repeat="reply in comment.replys">
                        <div class="card-body" style="padding: 0.25rem">
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <img style="max-height: 60px;" ng-src="{{ ((reply.user.photo.indexOf('/') != -1) ? reply.user.photo : ('../Server/assets/php/files/thumbnail/' + reply.user.photo))}}"
                                        class="rounded-circle img-fluid" />
                                    <p class="text-secondary text-center" am-time-ago="reply.date + '006'"></p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                        <strong>{{reply.user.name}}</strong>
                                    </p>
                                    <long-text data="reply.message"></long-text>
                                </div>
                                <div class="col-md-2">
                                    <p>
                                        <a ng-if="edit" class="float-right btn btn-outline-primary ml-2" href ng-click="setReplyComment(comment, reply);">
                                            <i class="fa fa-reply"></i>
                                            Responder
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="load" class="row" ng-if="edit">
        <div class="col-8 mx-auto">
            <p ng-show="sentMsg" class="alert alert-success mt-3">La consulta se envio con éxito.</p>
            <form class="mt-3" autocomplete="off" id="query">
                <div class="form-group">
                    <label for="query">Consulta</label>
                    <textarea class="form-control" ng-model="form.msg" focus-me="{{focusMe}}" id="query" rows="3"></textarea>
                </div>
                <button type="button" ng-click="sendComment();" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</any>