<any>
    <style>
        p {
        margin-bottom: 0.5rem;
    }
    </style>
    <loading ng-show="load" margin="2"></loading>
    <div ng-hide="load" class="row">
        <div class="col-10 mx-auto">
            <a class="btn btn-primary btn-action" href ng-if="limitComments != 0" ng-click="loadMore();">Cargar más
                comentarios</a>
            <div class="card mt-2" ng-repeat="comment in comments" ng-if="$index >= limitComments ">
                <div class="card-body" style="padding:.75rem;">
                    <div class="row">
                        <div class="col-md-1 text-center">
                            <img style="max-height: 60px;" ng-src="{{ ((comment.user.photo.indexOf('/') != -1) ? comment.user.photo : ('../Server/assets/php/files/thumbnail/' + comment.user.photo))}}"
                                class="rounded-circle img-fluid" />
                        </div>
                        <div class="col-md-9">
                            <p>
                                <strong>{{comment.user.name}}</strong>
                                <span class="text-secondary text-center" am-time-ago="comment.date + '006'"></span>
                            </p>
                            <div class="clearfix"></div>
                            <long-text data="comment.message"></long-text>
                            <div ng-show="comment.reply" class="row" ng-if="edit">
                                <div class="col-8 mx-auto">
                                    <p ng-show="comment.sentMsg" class="alert alert-success mt-3">
                                        La respuesta se envio con éxito.
                                    </p>
                                    <loading ng-show="comment.loading" margin="2" size="fa-2x"></loading>
                                    <form class="mt-3" autocomplete="off" ng-hide="comment.loading">
                                        <div class="form-group">
                                            <label>Respuesta</label>
                                            <textarea class="form-control" ng-model="comment.msg" focus-me="{{comment.focusMe}}"
                                                rows="2"></textarea>
                                        </div>
                                        <button type="button" ng-click="sendComment(comment.id);" class="btn btn-primary">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p>
                                <button ng-if="edit && (user != null) && (article.user.id == user.id) && comment.replys.length == 0"
                                    class="float-right btn btn-outline-primary ml-2" ng-click="setReplyComment(comment);">
                                    <i class="fa fa-reply"></i>
                                    Responder
                                </button>
                            </p>
                        </div>
                    </div>
                    <div class="card card-inner mt-2" ng-repeat="reply in comment.replys">
                        <div class="card-body" style="padding: 0.55rem 0.55rem 0 0.55rem">
                            <div class="row">
                                <div class="col-md-1 text-center">
                                    <img style="max-height: 60px;" ng-src="{{ ((reply.user.photo.indexOf('/') != -1) ? reply.user.photo : ('../Server/assets/php/files/thumbnail/' + reply.user.photo))}}"
                                        class="rounded-circle img-fluid" />
                                </div>
                                <div class="col-md-11">
                                    <p>
                                        <strong>{{reply.user.name}}</strong>
                                        <span class="text-secondary text-center" am-time-ago="reply.date + '006'"></span>
                                    </p>
                                    <long-text data="reply.message"></long-text>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="load" class="row" ng-if="edit">
        <div class="col-8 mx-auto">
            <p ng-show="sentMsg" class="alert alert-success mt-3">La consulta se envio con éxito.</p>
            <loading ng-show="loading" margin="2" size="fa-2x"></loading>
            <form class="mt-3" autocomplete="off" ng-hide="loading">
                <div class="form-group">
                    <label for="query">Consulta</label>
                    <textarea class="form-control" ng-model="form.msg" focus-me="{{focusMe}}" rows="3"></textarea>
                </div>
                <button ng-disabled="form.msg.length == 0" type="button" ng-click="sendComment();" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
    <div ng-if="user == null" class="text-center">
        <small>Es necesario iniciar sesion para realizar una consulta.</small>
        <p>
            <a href="#!/login/ver-anuncio/{{article.id}}" class="btn btn-warning my-2 my-sm-0">Inicia sesión</a>
        </p>
    </div>
</any>